<div class="full-wrapper">

<div class="container">


  <div class="title-head">
    <div class="title-text">{{info.heading}}</div>
    <div class="intensity-bar">
      <div class="high">High</div>
      <div class="low">Low</div>
    </div>
  </div>

  <div class="stat-table">
    <!--<thead>-->

    <div class="one-row">
      <div class="head-cell">{{info.names.year}}</div>

      <div class="head-container">
      <div class="head-cell">{{info.names.title}}</div>
      <div class="head-cell" *ngFor="let item of info.names.platform; let i=index">        
        <img [src]="item.image">
      </div>
      </div>
    </div>
  
    <div class="one-row" *ngFor="let item of info.values">
      <div class="body-cell">{{item.month}}</div>
      <div class="body-container">
      <div class="body-cell">
        {{item.newCustomerCount}}
      </div>
      <div class="body-cell" *ngFor="let item2 of item.platform; let i=index" [ngStyle]="{color: info.names.platform[i].color}">
        {{item2}}
      </div>
    </div>
    

  </div>

</div>
