.full-wrapper {
    width: 700px;
    margin: auto;
    font-family: Poppins;
    font-size: 13px;
    .container {
        padding: 25px 20px;
        background-color: #e7eef8;

        .title-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            .title-text {
                font-size: 20px;
                font-weight: 500;
                color: #303539;
            }
            .intensity-bar {
                display: flex;
                justify-content: space-between;
                font-size: 11px;
                padding: 0px 6px;
                width: 90px;
                height: 18px;
                background: linear-gradient(90deg, #24d89b 0%, #dbbc28 50%, #e24056 100%);
                border-radius: 10px;
                color: #ffffff;
                vertical-align: center;
            }
        }

        .stat-table {
            display: table;
            text-align: center;
            color: #303539;
            width: 100%;
            font-weight: 500;
            .one-row {
                display: table-row;
                .head-cell,
                .body-cell {
                    display: table-cell;
                    width: 90px;
                    vertical-align: middle;
                }

                .body-container {
                    border-radius: 20px;
                    background: #e2e9f3 0% 0% no-repeat padding-box;
                    box-shadow: -8px -8px 40px #ffffff, 10px 18px 30px rgba(0, 0, 233, 0.15);
                    padding: 15px 0;
                    margin: 15px 0;
                }
            }
        }
    }
}
