<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<app-test></app-test>




<div class="content" role="main">

  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <app-cohort></app-cohort>
  <!-- Assignment -->
  <div class="container">
    
    <h1>Sources</h1>
    <hr>

    <input type="text" name="" placeholder="Type here to search for datasources...">            
    <a class="search-btn" href="#">
      <i class="fas fa-search"></i>
    </a>

    <div class="panel">
      <div class="icon" *ngFor="let item of menu">
      <div class="options">
        <a href="#">
          
            <div class="icons">{{item.icon}}</div>
            <div class="soft">{{item.soft}}</div>
            <div class="softtype">{{item.softtype}}</div>
            <i class="far fa-lock"></i>

          
        </a>
      </div>
      </div>

    
    </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

